<footer>
	<details>
		<summary>Options</summary>
		<div class="option-row">
			<input type="checkbox" name="option-fullscreen" id="option-fullscreen"/>
			<label for="option-fullscreen">Fullscreen</label>
		</div>
	</details>
</footer>