<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>WikiQuest: Beyond the Links</title>
<meta name="description" 
  content="Embark on an epic WikiQuest, where the thrill of the WikiGame meets the vast realms of MediaWiki and Fandoms." />

<meta property="og:type" content="website">
<meta property="og:title" content="WikiQuest: Beyond the Links">
<meta property="og:description" 
  content="Embark on an epic WikiQuest, where the thrill of the WikiGame meets the vast realms of MediaWiki and Fandoms." />
<meta property="og:determiner" content="the" />
<meta property="og:locale" content="en_GB" />
<meta property="og:locale:alternate" content="fr_FR" />
<meta property="og:site_name" content="WikiQuest" />

<meta name="twitter:title" content="WikiQuest: Beyond the Links">
<meta name="twitter:description" content="Embark on an epic WikiQuest, where the thrill of the WikiGame meets the vast realms of MediaWiki and Fandoms.">

<link rel="icon" type="image/png" sizes="64x64" href="/favicon_64.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon_32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon_16.png">
<link rel="stylesheet" href="/css/choices.min.css" />
<link rel="stylesheet" href="/css/site.css" />
<script defer>
	let wikis = <%- JSON.stringify(wikis) %> ;
</script>
<script src="/socket.io/socket.io.js" defer></script>
<script src="/js/choices.min.js" defer></script>
<script src="/js/elements/WikiPage.js" defer></script>
<script src="/js/elements/PageChoice.js" defer></script>
<script src="/js/elements/PlayerCard.js" defer></script>
<script src="/js/elements/PlayerHistoric.js" defer></script>
<script src="/js/elements/PlayerScore.js" defer></script>
<script src="/js/settings.js" defer></script>
<script src="/js/options.js" defer></script>
<script src="/js/game.js" defer></script>