<section class="container" id="landing">
    <div class="row justify-content-center mx-0">
        <form id="landing-form">
            <div class="form-floating mb-3">
                <label for="playerName">Name</label>
                <input type="text" class="form-control input" id="playerName" placeholder="Name" required>
            </div>
            <div class="row justify-content-center mx-0">
                <input id="landingAction" type="hidden" value="<%= roomID ? 'playGame' : 'createRoom' %>">
                <input class="btn btn-primary" type="submit" value="<%= roomID ? 'Join Room' : 'Create Private Room' %>">
            </div>
        </form>
    </div>
</section>